*{
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(./question-mark-background-4s7u0763pabo39ff.jpg);
}
